body {
  font-family: 'Itim', cursive;
  font-weight: 900;
  font-size:20px;
  }
  h1{
    border-top:2px solid black;
  }
  h3{
    font-size:30px;
  }
  .jumbotron{
    width:400px;
    height:100%;
  }
  