*{
  margin:0px;
  padding:0px;
}
body{
  overflow-x: hidden;
  padding: 0px;
  margin: 0px;
  background-image: url("https://cdn.pixabay.com/photo/2012/12/09/00/16/smoke-69124_960_720.jpg");

}
.gases{
  display: flex;
}

img{
  width: 100%;
  height:578px;
}

h3{
  padding-bottom: 44%;
  color:black;
  font-weight: bold;
  font-size:40px;
  font-family: 'Itim', cursive;

}

h4{
  text-align:center;
  color:whitesmoke;
  font-weight: bold;
  font-family: 'Itim', cursive;
}

p{
  color:black;
  font-weight:bolder;
  font-family: 'Itim', cursive;

}

#p{
  text-align: center;
  padding-top:10%;
  font-weight: 600;
  color:whitesmoke;
  font-size:40px;
  font-family: 'Itim', cursive;
 
}

#h,#a, #f, #s, #v, #f{
  color:whitesmoke;
  font-size: 18px;
  font-family: 'Itim', cursive;

}

#fb, #t, #g, #d{
  font-size: 12px;
  font-family: 'Itim', cursive;

}

#up{
  padding-left: 58%;
}

#wrapper{
  font-family: 'Itim', cursive;
}

#tag{
  color:whitesmoke;
}