*{
  margin:0px;
  padding:0px;
}
body{
  overflow-x: hidden;
  padding: 0px;
  margin: 0px;
}
.gases{
  display: flex;
}

h5{
  padding-bottom: 30%;
  color:black;
  font-weight: bold;
}

#p{
  background-image:linear-gradient(rgba(0, 0, 0, 0.6),rgba(0 ,0 , 0, 0.6)), url(/images/gas-burners-1772104_960_720.jpg);
  height: 200vh;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -500px;
  background-attachment: fixed;
  z-index: inherit 5%;
  margin:0px;
}

/* #image{
  position: relative;
  margin-top: -70%;
  width:250px;
} */

/* #order{
  
} */

/* #image img{
  position: relative;
  margin-bottom: 20%;
  width:300px;
  height: 200px;

} */

#p{
  text-align: center;
  padding-top:10%;
  font-weight: 600;
  color:whitesmoke;
  font-size:40px; 
}

#h,#a, #f, #s, #v, #f,#c{
  color:whitesmoke;
  font-size: 18px;
}

#fb, #t, #g, #d{
  font-size: 12px;
}

#up{
  padding-left: 49%;
}

#wrapper>img{
 background-image: ;
}